RewriteEngine On

# RewriteRule ^bl-tools-client-calendar/?(.*)$ /fr/__is_embed_somewhere/blick-tools/calendar/$1 [R=301,L,QSA]
# RewriteRule ^bl-tools-client-docs/?(.*)$ /fr/__is_embed_somewhere/blick-tools/docs/$1 [R=301,L,QSA]
# RewriteRule ^bl-tools-client-facts/?(.*)$ /fr/__is_embed_somewhere/blick-tools/facts/$1 [R=301,L,QSA]
# RewriteRule ^bl-tools-client-folder/?(.*)$ /fr/__is_embed_somewhere/blick-tools/folder/$1 [R=301,L,QSA]
# RewriteRule ^bl-tools-client-poll/?(.*)$ /fr/__is_embed_somewhere/blick-tools/poll/$1 [R=301,L,QSA]
# RewriteRule ^bl-tools-client-potm/?(.*)$ /fr/__is_embed_somewhere/blick-tools/potm/$1 [R=301,L,QSA]
# RewriteRule ^bl-tools-client-prono/?(.*)$ /fr/__is_embed_somewhere/blick-tools/prono/$1 [R=301,L,QSA]
# RewriteRule ^bl-tools-client-quiz/?(.*)$ /fr/__is_embed_somewhere/blick-tools/quiz/$1 [R=301,L,QSA]
# RewriteRule ^bl-tools-client-teaser/?(.*)$ /fr/__is_embed_somewhere/blick-tools/teaser/$1 [R=301,L,QSA]

RewriteRule ^bl-tools-client-testimony/?(.*)$ /fr/__is_embed_somewhere/blick-tools/testimony/$1 [R=301,L,QSA]

# RewriteRule ^bl-tools-client-tinder/?(.*)$ /fr/__is_embed_somewhere/blick-tools/tinder/$1 [R=301,L,QSA]
# RewriteRule ^bl-tools-client-utils/?(.*)$ /fr/__is_embed_somewhere/blick-tools/utils/$1 [R=301,L,QSA]
